* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --main-bg: #19A1AE;
    --card-bg: #fff;
    --title: #2E3349;
    --text: #687082;
    --border: #EBE9EC;
}

body {
    background: var(--main-bg);

    height: 100vh;
    /* vh = viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 21.875rem;
}

section {
    background: var(--card-bg);
    border-radius: 0.9375rem;
}

.fundo-oval img {
    border-radius: 0.9375rem 0.9375rem 0 0;
    display: block;
    width: 100%;
}

.info_top{
  text-align: center;
}

.info_top img {
  margin-top: -3.3125rem;
  border: 5px solid var(--card-bg);
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.info_top h1{
  font-size: 1.125rem;
  color: var(--title);
  margin-bottom: 0.8rem;
}

.info_top h1 span{
  font-size: 1.125rem;
  color: var(--text);
  font-weight: 400;
}

.info_top p{
  font-size: 0.875rem;
  color: var(--text);
  margin-bottom: 1.75rem;
}

hr{
  border: 1px solid;
  color: var(--border);
}

.info_bottom{
  display: flex;
  justify-content: space-evenly;
  padding-block: 1.5rem;
}

.info_bottom div{
  text-align: center;
}

.info_bottom div strong{
  font-size: 1.125rem;
  color: var(--title);
}

.info_bottom div p{
  margin-top: 0.5rem;
  font-size: 0.625rem;
  color: var(--text);
  letter-spacing: 0.09375rem;
}